.plugin-videoembed-container-fluid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.plugin-videoembed-container-fluid iframe, .plugin-videoembed-container-fluid .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}